<div
  class="face-snap-card"
  [ngClass]="{ snapped: buttonText === 'Oops, unSnap !' }"
  *ngIf="faceSnap$ | async as faceSnap"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mis en ligne le : {{ faceSnap.createdDate | date : "longDate" }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >💙 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
